@model windmillsManagement.Models.Windmill.Windmill

@using (Html.BeginForm("AddWindmill", "Windmill", FormMethod.Post))
{
    @* @Html.ValidationSummary() *@
    
    <span>Nazwa</span> @Html.TextBoxFor(x => x.Name)
    <span>Opis</span>@Html.TextBoxFor(x => x.Description)
    <span>Lokalizacja, to będzie na jednej wysokości, obok siebie, ew do wklejania przygotować <formularz class=""></formularz></span>
    <span>Szerokość Geo(Lat)</span>@Html.TextBoxFor(x => x.Latitude)
    <span>Długość Geo(Lon)</span> @Html.TextBoxFor(x => x.Longitude)
    <span>Nazwa</span>@Html.TextBoxFor(x => x.Height)
    @* @Html.DisplayTextFor(x => x.WindPark) Tutaj będzie lista rozwijana, z opcją wyszukiwania, odnosząca się do już istniejących windparków? ale może być to również pusta wartość *@ 
    // aaa wizyt nie dodajemy, bo dopiero będą. będzie można to zrobić na stronie wiatraka, albo na zwykłej stornie.
    // i jeśli to będzie ze strony wiatraka, to automatycznie uzupełniamy id wiatraka.
    // Również dla windparku można to tak zrobić, aby automatycznie zaciągał windpark.
 
    <button type="submit">Dodaj ten Wiatrak</button>
}