@model windmillsManagement.Models.Windmill.Windmill

@{
    ViewData["Title"] = "Wiatrak";
}

<div class="container">
    <h1 class="display-4 text-center">Wiatrak: @Model.Name</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-4">Nazwa:</dt>
                <dd class="col-sm-8">@Model.Name</dd>

                <dt class="col-sm-4">Opis:</dt>
                <dd class="col-sm-8">@Model.Description</dd>

                <dt class="col-sm-4">Szerokość i długość geograficzna:</dt>
                <dd class="col-sm-8">@Model.Latitude, @Model.Longitude</dd>

                <dt class="col-sm-4">Wysokość:</dt>
                <dd class="col-sm-8">@Model.Height</dd>

                <dt class="col-sm-4">Data ostatniej wizyty:</dt>
                <dd class="col-sm-8">@Model.DateOfLastVisit</dd>
                
                <dt class="col-sm-4">Data zmarkowania jako do usunięcia:</dt>
                <dd class="col-sm-8">@Model.DateAndTimeAddedToDelete</dd>
            </dl>

            <a href="@Url.Action("Edit", "Windmill", new { guid = Model.Guid })">Edytuj</a>

            <form id="deleteForm" asp-action="Delete" asp-controller="Windmill" method="post">
                <input type="hidden" name="guid" value="@Model.Guid" />
                <button type="button" class="btn btn-danger" onclick="confirmDelete()">Usuń</button>
            </form>
        </div>
    </div>
</div>

<script>
    function confirmDelete() {
        if (confirm("Czy na pewno chcesz usunąć ten wiatrak?")) {
            document.getElementById("deleteForm").submit();
        }
    }

</script>