@model MgWindManager.Models.Windmill

@{
    ViewData["Title"] = "Wiatrak";
}

<div class="container">
    <h1 class="display-4 text-center">Wiatrak: @Model.Name</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-4">Nazwa:</dt>
                <dd class="col-sm-8">@Model.Name</dd>

                <dt class="col-sm-4">Opis:</dt>
                <dd class="col-sm-8">@Model.Description</dd>

                <dt class="col-sm-4">Szerokość i długość geograficzna:</dt>
                <dd class="col-sm-8">@Model.Latitude, @Model.Longitude</dd>

                <dt class="col-sm-4">Wysokość:</dt>
                <dd class="col-sm-8">@Model.Height</dd>

                <dt class="col-sm-4">Data ostatniej wizyty:</dt>
                <dd class="col-sm-8">@Model.DateOfLastVisit</dd>
                
                <dt class="col-sm-4">Data zmarkowania jako do usunięcia:</dt>
                <dd class="col-sm-8">@Model.DateAndTimeAddedToDelete</dd>

                <dt class="col-sm-4">WindPark:</dt>
                @if (Model.WindParkId != null)
                {
                <dd class="col-sm-8">
                    <a href="@Url.Action("WindPark", "WindPark", new { guid = @Model.WindParkId })"> WindPark, Powinna byc nazwa widnparku XD</a>
                </dd>
                }
                else
                {
                <dd class="col-sm-8">Brak powiązanego WindParku</dd>
                }
            </dl>

            <a href="@Url.Action("Edit", "Windmill", new { guid = Model.Guid })">Edytuj</a>

            <form asp-controller="WeatherApi" asp-action="Index" method="post">
                <input type="hidden" name="latitude" value="@Model.Latitude" />
                <input type="hidden" name="longitude" value="@Model.Longitude" />
                <button type="submit" class="btn btn-primary">Sprawdź pogodę</button>
            </form>
            
            <form id="deleteForm" asp-action="Delete" asp-controller="Windmill" method="post">
                <input type="hidden" name="guid" value="@Model.Guid" />
                <button type="button" class="btn btn-danger" onclick="confirmDelete()">Usuń</button>
            </form>
        </div>
    </div>
</div>
<script>
    function confirmDelete() {
        if (confirm("Czy na pewno chcesz usunąć ten wiatrak?")) {
            document.getElementById("deleteForm").submit();
        }
    }
</script>